body {
  background-color:LightBlue;
  margin:0;
  padding:0;
}
/* Le contenant de l'image et des autres éléments */
.img-wrapper {
  width:200px;
  height:200px;
  background-color:darkSlateGrey;
  margin:0;
  /* la position relative du parent va nous permettre de contrôler correctement la position des éléments enfants */
  position:absolute;
  z-index:1;
  /* ici on cache les parties des éléments enfants qui vont sortir du parent (wrapper) */
  overflow:hidden;
  cursor:pointer;
  float:left;
}
/* on force la vignette à se contenir à la taille de son contenant */
.img-wrapper img{
  max-width:100%;
/* et on applique une petite transition à l'image pour l'effet du hover */
  transition:all .8s ease;
}
/* ici on créé l'effet de zoom sur l'image au survol */
.img-wrapper:hover img{
  transform:scale(1.20);
}
/* le voile qu'on va faire venir sur l'image */
.cover {
  position:absolute;
  top:0;
  left:0;
  height:200px;
  width:300px;
  z-index:4;
  background:darkSlateGrey;
  /* on le cache ici grâce à l'opacité */
  opacity:0;
  /* on applique une transition pour la douceur */
  transition: all .4s ease;
  /* et on le sort du cadre du wrapper en le décalant à droite */
  transform:translateX(300px);
}

/* Maintenant on indique la propriété à appliquer au voile au survol du wrapper */
.img-wrapper:hover .cover{
  /* on le fait réapparaître en renforçant l'opacité */
  opacity:.8;
  /* puis en annulant son décalage de position */
  transform:translateX(0);
}

/* Enfin on positionne l'icone au centre. j'ai utilisé le line-height pour obtenir un centrage vertical */
.icon {
  color:white;
  line-height:230px;
  text-align:center;
  z-index:6;
  opacity:0;
}

/* comme pour le voile, je modifie l'opacité au survol */
.img-wrapper:hover .icon{
  opacity:1;
}

/* On ajoute le texte de présentation de l'image */
.text {
  position:absolute;
  font-family:sans-serif;
  font-size: 14px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5) ;
  color:LavenderBlush;
  bottom:15px;
  left:15px;
  z-index:6;
  transition: all .4s ease;
  opacity:0;
  transform:translateY(40px);
}
.img-wrapper:hover .text{
  opacity:1; 
  transform:translateY(0);
}
.img-wrapper2:hover .text{
  opacity:1; 
  transform:translateY(0);
}
/* maintenant on créé la classe qui va nous permettre d'afficher l'image sur tout l'écran quand elle sera appliquée */
.fullscreen {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:6;
  /* et pour éviter un resultat trop "brut" */
  transition: all 1s ease;
}
/* une sécurité pour être sûr que la surface est bien couverte */
.fullscreen img {
  min-width:50%;
  max-height:100%;
}
/* Maintenant je créé la fenêtre qui va venir en face de l'image pour expliquer le contenu (elle passe sous notre vignette puisqu'elle utilise 100% de la largeur de la page*/
.display-info {
  float:left;
  width:100%;
  height:200px;
  line-height:200px;
  background-color:Teal;
  margin-bottom:1px;
}

.info-detail {
  font-size:18px;
  color:white;
  font-family:sans-serif;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
  width:50%;
  padding-left:320px;
  /* pour centrer le texte verticalement */
  vertical-align:middle;
  display:inline-block;
  line-height:1.2; /* on rétablit le line-height */
}

/* on décore le lien */
.info-detail a{
  color:mediumSeaGreen;
  text-decoration:none;
  border-top:1px dotted;
  border-bottom:1px dotted;
  padding:5px;
  transition:all .5s ease;
}
.info-detail a:hover{
  background-color:mediumSeaGreen;
  color:white;
  border-top:none;
  border-bottom:none;
}
/* la class qui fait tout disparaître par magie */
.hide {
  display:none;
}
/* des classes servant juste à identifier les éléments dans le javascript */


.clear {
  clear:both;
}
/* pour les plus petites images, je vais créer le img-wrapper2 */
.img-wrapper2 {
  position:relative;
  width:15%;
  height:150px;
  overflow:hidden;
  cursor:pointer;
  float:left;
  border-right:1px solid lavenderBlush;
  box-sizing:border-box; /* permet d'inclure le border de 1px dans les 25% de largeur */
}
.img-wrapper2 img{
  max-width:100%;
  min-height:100%;
  transition:all .8s ease;
}

.cover2 {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:4;
  background:CornflowerBlue;
  opacity:0;
  transition: all .4s ease;
  transform:translateX(100%);
}
.icon2 {
  color:Brown;
  line-height:170px;
  text-align:center;
  z-index:6;
  opacity:0;
}
.img-wrapper2:hover img{
  transform:scale(1.20);
}
.img-wrapper2:hover .cover2{
  opacity:.8;
  transform:translateX(0);
}
.img-wrapper2:hover .icon2{
  opacity:1;
}


/* on va maintenant rendre tout ça responsive (hum c'est pas gangé encore)*/
@media screen and (max-width: 700px) {
  .img-wrapper2 {
      width: 50%;
  }
  .info-detail {
    font-size:14px;
  }
}